* {
    font-family: 'Lexend Deca', 'PT sans', 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 350px;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    background-color: #ecf0f1;
    padding: 0;
    height: 100%;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #2d3436;
    padding: 1.5em 0;
    letter-spacing: 2px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;

}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ecf0f1;
    color: #2d3436;
    padding: 1em 0;
    font-size: large;
}

footer div {
    width: fit-content;
    margin-left: 1em;
}

@media screen and (max-width: 900px) {
    nav {
        grid-template-columns: repeat(2, auto);
        padding: 0;
    }
    nav a{width: 100%;}
    .left {margin: auto; text-align: center;}
    .right {margin: auto; text-align: center;}
}