body {
    background-color: #ecf0f1;
}
main div {
    padding: 1em;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
    color: #2d3436;
    text-align: center;
}
#largeImg {
    background-image: url(../images/empty_bottles.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}
main div p {
    letter-spacing: 1px;
    margin: 1.5em 10vw;
}
.no_spacing {
    margin: 0;
}

#text1 {
    background-color: #ffffff;
}
#text2 {
    background-color: #D8E4DC;
}
#text3 {
    background-color: #ffffff;
}

#list1{
    text-align: left;
    margin: 0 15vw;
}

main div p a{
    color: #c96100;
}

.orange {
    color: #c96100;
}

img, picture {
    height: 15em;
}

@media screen and (max-width: 1000px) {
    #list1{
        text-align: left;
        margin: 0 5vw;
    }
}
@media screen and (max-width: 800px) {
    img, picture {
        width: 100%;
        height: auto;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .container p {
        font-size: large;
    }
}