body {
    background-color: #7C98B3;
}
main div {
    padding: 1em;
    font-size: x-large;
    font-weight: 500;
}
#largeImg {
    background-image: url(../images/empty_bottles.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
    box-shadow: inset #0E4F63 2em 2em 5em;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}
main div {
    text-align: center;
}
#text1 {
    background-color: #ACCBE1;
}
#text2 {
    background-color: #CEE5F2;
}
#text3 {
    background-color: #7C98B3;
}

#list1{
    text-align: left;
    margin: 0 15vw;
}

main div p a{
    color: rgb(0, 94, 94);
}

#here {
    color: whitesmoke;
}

img, picture {
    height: 15em;
}

@media screen and (max-width: 1000px) {
    #list1{
        text-align: left;
        margin: 0 5vw;
    }
}
@media screen and (max-width: 800px) {
    img, picture {
        width: 100%;
        height: auto;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .container p {
        font-size: large;
    }
}