body {
    background-color: #ecf0f1;
}
main div {
    padding: 1em;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 500;
    color: #2d3436;
    text-align: center;
}

#logo {
    height: 4em;
}

#largeImg {
    background-image: url(../images/empty_bottles.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
    padding: 0;
    margin: 0 auto;
}
main div p {
    letter-spacing: 1px;
    margin: 1.5em 10vw;
}
.no_spacing {
    margin: 0;
}

.white {
    background-color: #ffffff;
}
.grey {
    background-color: #D8E4DC;
}

#list1{
    text-align: left;
    margin: 0 15vw;
    border: solid #c96100;
    border-radius: 3em;
}

ul li::before {
    content: "\2022";
    color: #c96100;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.bilde-div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 1.5em 15vw;
    padding: 0;
}


main div p a{
    color: #c96100;
    font-weight: bolder;
}

.orange {
    color: #c96100;
}

img, picture {
    height: 15em;
}

.bilde-div img {
    align-self: center;
    height: 50vh;
}
.bilde-div p {
    margin: 0 1.5em;
    margin-right: 0;
    align-self: center;
}


@media screen and (max-width: 1300px) {
    .bilde-div {
        margin: 1.5em 10vw;
    }
}
@media screen and (max-width: 1000px) {
    .bilde-div {
        grid-template-columns: repeat(1, auto);
        margin: 1.5em 15vw;
    }

    .bilde-div img {
        margin: auto;
    }

    .bilde-div p {
        margin: 1.5em 0;
    }

    #list1{
        text-align: left;
        margin: 0 5vw;
    }
}
@media screen and (max-width: 800px) {
    img, picture {
        width: 100%;
        height: auto;
    }
    .bilde-div img {
        width: auto;
    }
    .container {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .container p {
        font-size: large;
    }
}